<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Pgn Editor</title>

    <link rel="stylesheet" href="static/css/reset.css?ver=1556995309">
    <link rel="stylesheet" href="static/piece/alpha.css">
    <link rel="stylesheet" href="static/piece/merida.css">
    <link rel="stylesheet" href="static/css/markdown.css?ver=1557324126">

    <script src="static/js/showdown.min.js?ver=1513938387"></script>

    <script src="static/js/gif.js?ver=1557898039"></script>

    <script src="static/js/utils.js?ver=1560749460"></script>
    <script src="static/js/dom.js?ver=1561099282"></script>    
    <script src="static/js/conn.js?ver=1560994782"></script>    

</head>

<body>
    
    <div id="root"></div>

    <script src="static/js/main.js?ver=1560764908"></script>

</body>

</html>