<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Pgn Editor</title>

    <link rel="stylesheet" href="static/css/reset.css?ver=1553783521">
    <link rel="stylesheet" href="static/piece/alpha.css">
    <link rel="stylesheet" href="static/piece/merida.css">
    <link rel="stylesheet" href="static/css/markdown.css?ver=1553615350">

    <script src="static/js/showdown.min.js?ver=1513938387"></script>

    <script src="static/js/utils.js?ver=1553614389"></script>
    <script src="static/js/dom.js?ver=1553845419"></script>    
    <script src="static/js/conn.js?ver=1553845442"></script>    

</head>

<body>

    <div id="root"></div>

    <script src="static/js/main.js?ver=1553614063"></script>

</body>

</html>